python-dotenv~=1.2.2
groq~=1.2.0
aiogram~=3.27.0
SQLAlchemy~=2.0.49
requests~=2.33.1
pandas~=3.0.2
pip~=26.0.1
attrs~=26.1.0
distro~=1.9.0
click~=8.3.3
certifi~=2026.2.25
aiofiles~=25.1.0
pillow~=12.2.0
aiohttp~=3.13.5
urllib3~=2.6.3
greenlet~=3.5.0
annotated-types~=0.7.0
idna~=3.11
charset-normalizer~=3.4.7
aiosqlite~=0.22.1
protobuf~=7.34.1